.roomgrid {
  height: 90%;

  border: 3px solid #696464;
  border-radius: 15px;

  background: white;
  color: grey;
}

svg {
}
svg g {
  fill: #fafafa;
}
svg g polygon {
  stroke: grey;
  stroke-width: 0.2;
}
